body {
  background-color: lightsteelblue;
  font-family: 'Muli', sans-serif;
}

#gartner-bingo-title {
  margin-top: 36px;
  font-size: 36px;
  font-weight: bold;
  color: black;
}

.email-input {
  max-width: 300px;
  margin-top: 18px;
  margin-bottom: 18px;
}

#bingo-board {
}

.bingo-row {
}

.bingo-card {
  width: 96px;
  height: 96px;
  /*border-radius: 12px;*/
  background-color: white;
  border: 4px solid gray;
}

.bingo-card:hover {
  background-color: gray;
}

.bingo-card > p {
  text-align: center;
  font-size: 14px;
}

.selected {
  font-weight: bold;
}
